@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/KaushanScript-Regular.ttf')  format('truetype');
    font-weight: 400;
    font-display: swap;
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */